{% extends 'base.html' %}

{% block title %} Your Albums {% endblock%}

{% block body %}
            <div class="main-cat">
                <div class="main-title">
                    <div class="first-heading">
                        Your Albums
                    </div>
                    <div class="add-album-head">
                        <a href="{{ url_for('new_album') }}" class="new-album">New Album</a>
                    </div>
                </div>
                <div class="songs-list">
                    {% if albums_info|length == 0 %}
                    <h2 style="color: gray;">Currently You Haven't Uploaded Any Albums.</h2>
                    {% else %}
                    {% for album_info in albums_info %}
                    <div class="song">
                        <div class="song-background">
                            <div class="song-poster">
                                <a href="/album/{{album_info[1]}}">
                                    <img src="{{ url_for('album_cover', filename=album_info[0]) }}" class="poster-dim" alt="Album song image">
                                </a>
                            </div>
                            <div style="position: relative; display:flex;" class="song-details">
                                <div class="song-name">
                                    <a href="/album/{{album_info[1]}}" style="text-decoration: none;">
                                        {{album_info[1]}}
                                    </a>
                                </div>
                                <div style="position: absolute; top:100%; margin-left:135px; margin-top:-12px;" class="dropdown">
                                    <button onclick="myFunction(this)" class="dropbtn">
                                        &centerdot;&centerdot;&centerdot;
                                    </button>
                                    <div id="myDropdown" class="dropdown-content">
                                        <a href="/edit_album/{{album_info[1]}}">Edit</a>
                                        <a href="/delete_album/{{album_info[1]}}">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <div class="song-artist">
                                {{album_info[2]}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock%}