{% extends 'base-admin.html' %}

{% block title %} Genre Songs{% endblock%}

{% block body %}
            <div class="main-cat">
                <div class="album-details">
                    <div class="album-cov">
                        <img src="{{ url_for('genre_cover', filename='static/uploads/genre-cover/' + genres[genre]) }}" class="album-cover">
                    </div>
                    <div class="album-info">
                        <div>Genre</div>
                        <div class="album-name">{{genre}}</div>
                    </div>
                </div>
            </div>
            <div class="song-list">
                <div class="list-heading">
                    Songs
                </div>
                <div class="main-list">
                    {% if genres_info|length == 0 %}
                    <h3 style="color: gray;">Currently You Haven't Added any Songs to this Playlist.</h3>
                    {% else %}
                    {% for genre_info in genres_info %}
                    <div style="display: flex; justify-content:space-between; margin-top:20px;">
                        <div class="list-poster">
                            <a style="cursor:pointer;"  onclick="audioControl('{{genre_info[1]}}')" id="play-button">
                                <img src="{{ url_for('genre_cover', filename=genre_info[0] )}}" class="playlist-img" style="display: inline-block;">
                            </a>
                            <audio src="{{url_for('play_song', song_name=genre_info[1])}}" style="display: none;" id="{{genre_info[1]}}"></audio>
                                
                            <div class="list-detail" style="display:inline-block;">
                                <a style="cursor:pointer;"  onclick="audioControl('{{genre_info[1]}}')" id="play-button"><div>{{genre_info[1]}}</div></a>
                                    <audio src="{{url_for('play_song', song_name=genre_info[1])}}" style="display: none;" id="{{genre_info[1]}}"></audio>    
                                    
                                <div class="list-show">{{genre_info[2]}}</div>
                            </div>
                        </div>
                        <div style="margin-right:150px; font-size: 14px; color:rgba(255, 255, 255,0.54);">
                            <div class="dropdown">
                                <button onclick="myFunction(this)" class="dropbtn">
                                    &centerdot;&centerdot;&centerdot;
                                </button>
                                <div id="myDropdown" class="dropdown-content">
                                    <a href="/lyrics_admin/{{genre_info[1]}}">Lyrics</a>
                                    <a href="/delete_song_admin/{{genre_info[1]}}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}