{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}
            <div class="main-cat">
                <div class="main-title">
                    <div class="first-heading">
                        For You
                    </div>
                    <div class="show-all">
                        <a href="/for_you" class="show-more">Show all</a>
                    </div>
                </div>
                <div class="songs-list">
                    {% if top_songs|length == 0 %}
                    <h2 style="color: gray;">
                        Currently There Are No Songs.
                    </h2>
                    {% else %}
                    {% for top_song in top_songs %}
                    <div class="song">
                        <div class="song-background">
                            <div class="song-poster">
                                <a style="cursor:pointer;"  onclick="audioControl('{{top_song[1]}}')" id="play-button">
                                    <img src="{{ url_for('song_cover', filename=top_song[0] )}}" class="poster-dim" alt="Album song image">
                                </a>
                                <audio src="{{url_for('play_song', song_name=top_song[1])}}" style="display: none;" id="{{top_song[1]}}"></audio>
                            </div>
                            <div style="position: relative; display:flex;" class="song-details">
                                <div class="song-name">
                                    <a style="cursor:pointer;"  onclick="audioControl('{{top_song[1]}}')" id="play-button">{{top_song[1]}}</a>
                                    <audio src="{{url_for('play_song', song_name=top_song[1])}}" style="display: none;" id="{{top_song[1]}}"></audio>
                                </div>
                                <div style="position: absolute; top:100%; margin-left:135px; margin-top:-6px;" class="dropdown">
                                    <button onclick="myFunction(this)" class="dropbtn">
                                        &centerdot;&centerdot;&centerdot;
                                    </button>
                                    <div id="myDropdown" class="dropdown-content">
                                        <a href="/lyrics/{{top_song[1]}}">Lyrics</a>
                                        <p style="color: grey; margin-left:15px;">Rate Song &darr;</p>
                                        <form style="margin-left: 15px;" action="/rate_song/{{top_song[1]}}" method="POST">
                                            <button type="submit" class="rate-button" name="rating" value="1">1</button>
                                            <button type="submit" class="rate-button" name="rating" value="2">2</button>
                                            <button type="submit" class="rate-button" name="rating" value="3">3</button>
                                            <button type="submit" class="rate-button" name="rating" value="4">4</button>
                                            <button type="submit" class="rate-button" name="rating" value="5">5</button>
                                        </form> 
                                        {% if playlists_name|length == 0 %}    
                                        <p style="margin-top:15px;"></p>           
                                        {% else %}
                                        <p style="color: grey; margin-left:15px;">Add to Playlist &darr;</p>
                                        {% for playlist_name in playlists_name %}
                                            <a href="/add_to_playlist/{{playlist_name}}/{{top_song[1]}}" style="margin-bottom:8px;">{{playlist_name}}</a>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="song-artist">
                                {{top_song[2]}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="main-cat">
                <div class="main-title">
                    <div class="first-heading">
                        Songs
                    </div>
                    <div class="show-all">
                        <a href="/songs" class="show-more">Show all</a>
                    </div>
                </div>
                <div class="songs-list">
                    {% if songs_info|length == 0 %}
                    <h2 style="color: gray;">
                        Currently There Are No Songs.
                    </h2>
                    {% else %}
                    {% for song_info in songs_info %}
                    <div class="song">
                        <div class="song-background">
                            <div class="song-poster">
                            <a style="cursor:pointer;"  onclick="audioControl('{{song_info[1]}}')" id="play-button">
                                <img src="{{ url_for('song_cover', filename=song_info[0] )}}" class="poster-dim" alt="Album song image">
                            </a>
                            <audio src="{{url_for('play_song', song_name=song_info[1])}}" style="display: none;" id="{{song_info[1]}}"></audio>
                            </div>
                            <div style="position: relative; display:flex;" class="song-details">
                                <div class="song-name">
                                    <a style="cursor:pointer;"  onclick="audioControl('{{song_info[1]}}')" id="play-button">{{song_info[1]}}</a>
                                    <audio src="{{url_for('play_song', song_name=song_info[1])}}" style="display: none;" id="{{song_info[1]}}"></audio>
                                </div>
                                <div style="position: absolute; top:100%; margin-left:135px; margin-top:-6px;" class="dropdown">
                                    <button onclick="myFunction(this)" class="dropbtn">
                                        &centerdot;&centerdot;&centerdot;
                                    </button>
                                    <div id="myDropdown" class="dropdown-content">
                                        <a href="/lyrics/{{song_info[1]}}">Lyrics</a>
                                        <p style="color: grey; margin-left:15px;">Rate Song &darr;</p>
                                        <form style="margin-left: 15px;" action="/rate_song/{{song_info[1]}}" method="POST">
                                            <button type="submit" class="rate-button" name="rating" value="1">1</button>
                                            <button type="submit" class="rate-button" name="rating" value="2">2</button>
                                            <button type="submit" class="rate-button" name="rating" value="3">3</button>
                                            <button type="submit" class="rate-button" name="rating" value="4">4</button>
                                            <button type="submit" class="rate-button" name="rating" value="5">5</button>
                                        </form> 
                                        {% if playlists_name|length == 0 %}    
                                        <p style="margin-top:15px;"></p>           
                                        {% else %}
                                        <p style="color: grey; margin-left:15px;">Add to Playlist &darr;</p>
                                        {% for playlist_name in playlists_name %}
                                            <a href="/add_to_playlist/{{playlist_name}}/{{song_info[1]}}" style="margin-bottom:8px;">{{playlist_name}}</a>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="song-artist">
                                {{song_info[2]}}
                            </div>
                        </div>
                    </div> 
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="main-cat">
                <div class="main-title">
                    <div class="first-heading">
                        Albums
                    </div>
                    <div class="show-all">
                        <a href="/albums" class="show-more">Show all</a>
                    </div>
                </div>
                <div class="songs-list">
                    {% if albums_info|length == 0 %}
                    <h2 style="color: gray;">Currently There Are No Albums.</h2>
                    {% else %}
                    {% for album_info in albums_info %}
                    <div class="song">
                        <div class="song-background">
                            <div class="song-poster">
                                <a href="/home_album_song/{{album_info[1]}}">
                                    <img src="{{ url_for('album_cover', filename=album_info[0]) }}" class="poster-dim" alt="Album song image">
                                </a>
                            </div>
                            <div style="position: relative; display:flex;" class="song-details">
                                <div class="song-name">
                                    <a href="/home_album_song/{{album_info[1]}}" style="text-decoration: none;">
                                        {{album_info[1]}}
                                    </a>
                                </div>
                                <div style="position: absolute; top:100%; margin-left:135px; margin-top:-6px;" class="dropdown">
                                    <button onclick="myFunction(this)" class="dropbtn">
                                        &centerdot;&centerdot;&centerdot;
                                    </button>
                                    <div id="myDropdown" class="dropdown-content">
                                        <a href="">Rating</a>
                                    </div>
                                </div>
                            </div>
                            <div class="song-artist">
                                {{album_info[2]}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="main-cat">
                <div class="main-title">
                    <div class="first-heading">
                        Genre
                    </div>
                </div>
                <div class="songs-list">
                    {% for genre, genre_coverr in genre_zipped %}
                    <div class="song">
                        <div class="song-background">
                            <div class="song-poster">
                                <a href="/genre/{{genre}}">
                                    <img src="{{ url_for('genre_cover', filename='static/uploads/genre-cover/' + genre_coverr) }}" class="poster-dim" alt="Genre image">
                                </a>
                            </div>
                            <div style="position: relative; display:flex;" class="song-details">
                                <div class="song-name">
                                    <a href="/genre/{{genre}}" style="text-decoration: none;">
                                        {{genre}}
                                    </a>
                                </div>
                            </div>
                            <div class="song-artist">
                                Genre &centerdot; Rythm
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}    