{% extends 'base.html' %}

{% block title %} Songs {% endblock%}

{% block body %}
            <div class="main-cat">
                <div class="main-title">
                    <div class="first-heading">
                        Songs
                    </div>
                </div>
                <div class="songs-list">
                    {% if songs_info|length == 0 %}
                    <h2 style="color: gray;">Currently There Are No Songs.</h2>
                    {% else %}
                    {% for song_info in songs_info %}
                    <div class="song">
                        <div class="song-background">
                            <div class="song-poster">
                                <img src="{{ url_for('song_cover', filename=song_info[0] )}}" class="poster-dim" alt="Album song image">
                            </div>
                            <div style="position: relative; display:flex;" class="song-details">
                                <div class="song-name">
                                    {{song_info[1]}}
                                </div>
                                <div style="position: absolute; top:100%; margin-left:135px; margin-top:-6px;" class="dropdown">
                                    <button onclick="myFunction(this)" class="dropbtn">
                                        &centerdot;&centerdot;&centerdot;
                                    </button>
                                    <div id="myDropdown" class="dropdown-content">
                                        <a href="/lyrics/{{song_info[1]}}">Lyrics</a>
                                        <p style="color: grey; margin-left:15px;">Rate Song &darr;</p>
                                        <form style="margin-left: 15px;" action="/rate_song/{{song_info[1]}}" method="POST">
                                            <button type="submit" class="rate-button" name="rating" value="1">1</button>
                                            <button type="submit" class="rate-button" name="rating" value="2">2</button>
                                            <button type="submit" class="rate-button" name="rating" value="3">3</button>
                                            <button type="submit" class="rate-button" name="rating" value="4">4</button>
                                            <button type="submit" class="rate-button" name="rating" value="5">5</button>
                                        </form> 
                                        {% if playlists_name|length == 0 %}    
                                        <p style="margin-top:15px;"></p>           
                                        {% else %}
                                        <p style="color: grey; margin-left:15px;">Add to Playlist &darr;</p>
                                        {% for playlist_name in playlists_name %}
                                            <a href="/add_to_playlist/{{playlist_name}}/{{song_info[1]}}" style="margin-bottom:8px;">{{playlist_name}}</a>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="song-artist">
                                {{song_info[2]}}
                            </div>
                        </div>
                    </div> 
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}